artifact-web/node_modules/
artifact-web/src/main/webapp/components/
artifact-web/src/main/webapp/build/
artifact-web/src/main/webapp/dist/
*.classpath
*.project
artifact-web/.settings/
*.iml
*.factorypath
artifact-service/.settings/
artifact-ear/.settings/
